  /* custom fonts */
  @import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
  @import url('https://fonts.cdnfonts.com/css/satoshi');

  @font-face {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/syne/v22/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
  }

  @font-face {
    font-family: 'Satoshi-Light';
    src: url('../fonts/Satoshi-Light.woff2') format('woff2'),
          url('../fonts/Satoshi-Light.woff') format('woff'),
          url('../fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
          url('../fonts/Satoshi-Regular.woff') format('woff'),
          url('../fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  :root {
    --black: #1f1f1f;
    --white: #faf0e6;
  }

  html {
    font-family: 'syne', sans-serif;
    background-color: var(--white);
  }
  
  @media (min-width: 320px){

  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 0.5rem;
    line-height: 1.5;
    font-style:normal;
    color: var(--black);
    }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 3rem;
    color: var(--black);
  }

  h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 1rem;
  }

  h4 {
    font-size: 2rem;
    font-weight: 700;
  }

  h5 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--black);
    opacity: 50%;
  }

  p {
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
  }

  /* home */
  .hidden {
    opacity:0;
  }
  .console-container {
    font-size: 4rem;
    font-weight: 700;
    display:block;
    position:relative;
    color:var(--black);
  }
  .console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }

  summary {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    align-items: center;
  } 

  summary::-webkit-details-marker {
    display: none;
  }

  details {
    border-bottom: 1px solid black;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  details > div {
    overflow: hidden;
    display: grid;
    animation-duration: 0.2s;
  }

  details > .animation {
    animation-name: grid-expand;
    animation-timing-function: ease-out;
  }

  details > .collapsing {
    animation-direction: reverse;
    animation-timing-function: ease-in;
  }
  
  details > div > div {
    min-height: 0;
  }

  @keyframes grid-expand {
  0% {
    grid-template-rows: 0fr;
  }
  100% {
    grid-template-rows: 1fr;
  }
  }

  details[open] > summary {
    margin-bottom: 0.5rem;
  }

  summary::after {
    content: '';
    width: 0; 
    height: 0; 
    border-top: 10px solid #000;
    border-inline: 7px solid transparent;
    transition: 0.2s;
  }
  
  details[open] > summary::after {
    transform: rotate(180deg);
  }

  /* work */
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .row img {
    display: flex;
    border-radius: 25px;
    box-shadow: 0px 5px 15px -5px #000;
  }
    
  .column {
    display: flex;
    width: 48%;
    margin-bottom: 2rem;
  }
    
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    width: 100%;
  }
  
  .container img {
    width: 100%;
    transition: all .5s;
  }
  
  .caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: var(--white);
    transition: all 0.5s;
    transform: translateY(-100%);
  }

  .caption h3 {
    margin: 0;
  }

  .caption p {
    font-size: 14px;
  }

  .container:hover .caption {
    background-color: rgba(0,0,0,0.9);
    transform: translateY(0);
  }

  .caption-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: var(--white);
    transition: all 0.5s;
    transform: translateY(-100%);
  }

  .caption-2 h3 {
    margin: 0;
    font-size: 2.7rem;
  }

  .caption-2 p {
    font-size: 18px;
  }

  .container:hover .caption-2 {
    background-color: rgba(0,0,0,0.9);
    transform: translateY(0);
  }


  /* posts */
  .img-container img {
    border-radius: 25px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }
  
  .img-container img:active {
    transform: scale(2);
    cursor: zoom-out;
  }
  
  /* about */
  .resume {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;    
    border: 1.5px solid;  
    font-size: 1.2rem;
    border-radius: 25px;
    width: 8rem;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    color: var(--black);
  }

  .resume:hover {
    background-color: var(--black);
    color: var(--white);
  }

  .feather-arrow-up-right:hover {
    stroke: var(--white);
  }

  .pdf {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;    
    border: 1.5px solid;  
    font-size: 1.2rem;
    border-radius: 25px;
    width: 4.5rem;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: var(--black);
  }

  .pdf:hover {
    background-color: var(--black);
    color: var(--white);
  }

  h2.animation {
    color: var(--black);
  }
  
  span.words:before {
    content: 'WORDS';
    color: var(--black);
    animation: word-switch 5s infinite;
  }
  
  @keyframes word-switch {
    0% { content: 'books' }
  
    50% { content: 'cats' }
  
    100% { content: 'cinema' }
  }

  /* contact */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    font-size: 1rem;
    background-color: var(--white);
    max-width: 100px;
    border: 1.5px solid;  
    padding: 12px 20px;
    border-radius: 25px;
    margin-top: 1rem;  
  }
  
  input[type=submit]:hover {
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
  }
  
  .col-25, .col-75, input[type=submit] {
    width: 100%;
  }

  /* nav styles */
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 7px;
    background-color: var(--black);
    border-radius: 25px;
  }

  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
  }

  .nav-links a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--black);
  }

  .nav-links a:hover,
  .nav-links a:focus {
    text-decoration: underline;
  }

  .expanded {
    display: unset;
  }

  .nav-links a.active {
    font-weight: 700;
  }

  /* footer */

  h1.firsttitle {
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 10rem;
  }

  h2.secondtitle {
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 1.5rem;
  }

  .wrap{
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
  }
  
  .btn{
    text-align: center;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #fff;
    margin: 10px;
    color: var(--black);
    box-shadow: 0px 5px 15px -5px #000;
    border-radius: 50%;
  }
  
  .btn i{
    font-size: 24px;
    line-height: 48px;
  }
  
  .btn i:hover{
    transform: scale(1);
    color: #fff;
  }
  
  .btn:hover{
    background-color: var(--black);
    animation: animate 1s;
  }

  @media (min-width: 600px){

    .nav-links {
      display: block;
      position: static;
      width: auto;
      background: none;
    }

    .nav-links a {
      display: inline-block;
      padding: 15px;
    }
  
    .hamburger {
      display: none;
    }

    input[type=submit] {
      margin-top: 1rem;
    }

    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }
    
    .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  
  @media screen and (min-width: 850px){
  }

}