  /* custom fonts */
  @import url('https://fonts.cdnfonts.com/css/metropolis-2');
  @import url("https://p.typekit.net/p.css?s=1&k=rqr0gph&ht=tk&f=139.140.175.176&a=109570628&app=typekit&e=css");
  @font-face {
    font-family:"proxima-nova";
    src:url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
    }
    
    @font-face {
    font-family:"proxima-nova";
    src:url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
    }
    
    @font-face {
    font-family:"proxima-nova";
    src:url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
    }
    
    @font-face {
    font-family:"proxima-nova";
    src:url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
    }
  
  html {
    background-color: #ffff;
    font-family: 'proxima-nova', sans-serif;
    }
  
  @media screen and (min-width: 320px){

  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    font-style:normal
    }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 3rem;
    color: black;
  }

  h1.hello {
    font-size: 8rem;
  }

  h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 400;
  }

  /* about */
  .resume {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;    
    border: 1.5px solid;  
    font-size: 1.2rem;
    border-radius: 25px;
    width: 8rem;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    color: #000;
  }

  .resume:hover {
    background-color: black;
    color: white;
  }

  .feather-arrow-up-right:hover {
    stroke: white;
  }

  .pdf {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;    
    border: 1.5px solid;  
    font-size: 1.2rem;
    border-radius: 25px;
    width: 4.5rem;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: #000;
  }

  .pdf:hover {
    background-color: black;
    color: white;
  }

  /* contact */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    font-size: 1rem;
    background-color: white;
    max-width: 100px;
    border: 1.5px solid;  
    padding: 12px 20px;
    border-radius: 25px;
    margin-top: 1rem;  
  }
  
  input[type=submit]:hover {
    background-color: black;
    color: white
  }
  
  .col-25, .col-75, input[type=submit] {
    width: 100%;
  }

  /* nav styles */
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 7px;
    background-color: black;
    border-radius: 25px;
  }

  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
  }

  .nav-links a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: black;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    text-decoration: underline;
  }

  .expanded {
    display: unset;
  }

  .nav-links a.active {
    font-weight: 700;
  }

  /* footer */

  h1.firsttitle {
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 10rem;
  }

  h2.secondtitle {
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 1.5rem;
  }

  .wrap{
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
  }
  
  .btn{
    text-align: center;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #f1f1f1;
    margin: 10px;
    color: black;
    box-shadow: 0px 5px 15px -5px #000;
    border-radius: 50%;
  }
  
  .btn i{
    font-size: 24px;
    line-height: 48px;
  }
  
  .btn i:hover{
    transform: scale(1);
    color: #fff;
  }
  
  .btn:hover{
    background-color: black;
    animation: animate 1s;
  }
  
   /* posts */
   .img-container {
    border-radius: 25px;
  }

  @media (min-width: 600px){

    .nav-links {
      display: block;
      position: static;
      width: auto;
      background: none;
    }

    .nav-links a {
      display: inline-block;
      padding: 15px;
    }
  
    .hamburger {
      display: none;
    }

    input[type=submit] {
      margin-top: 1rem;
    }

    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }
    
    .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  
  @media screen and (min-width: 850px){
  }

}