---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me Again";
---
<BaseLayout pagetitle={pageTitle}>
    <h2>... and here are my contacts!</h2>
</BaseLayout>