---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h1 class="hello">Hello.</h1>

  <h2>I’m Rita Costa, a UX/UI Designer based in Lisbon.</h2>

  <p>Currently, I'm interning at VML and pursuing a post-graduate degree in Digital Experience Design at the Faculty of Fine 
    Arts in Lisbon. I have a degree in Design and previous experience as a graphic designer at Associação Portuguesa da Cor. 
    My skills are both creative and practical, with a strong focus on customer needs, and I am known for my communicative 
    nature and ability to motivate others. I studied Graphic Design in Oslo for a semester through the Erasmus+ program and 
    traveled across Europe for a month in 2022, visiting about eight cities.</p>

  <p>I've worked with clients like Fabrica Features, Volvo, Danone, Leroy Merlin, Millennium BCP, Dacia, Chicco, SonaeSierra, 
    and Vilamoura. Recently, I participated in creativity contests like D&AD and Brief Aberto CCP. Passionate about illustration 
    and design, I love to travel, experience different cultures, and seek new challenges to step out of my comfort zone.</p>

  <h3>Experience</h3>  

  <details>
    <summary>Art Director Trainee</summary>
      <div>
        <div>
          <h4>VML - Advertising Agency</h4>
          <h5>June 2023 - Present</h5>
          <p>I've worked with many clients, such as Volvo, Danone, Leroy Merlin, Millennium BCP, Chicco,
            among others. I learned how to respond to each clients needs and requirements and how to
            manage project timings and be practical, as well as sharpen my visual and aesthetic skills.</p>
        </div>
      </div>
  </details>

  <details>
    <summary>Intern Graphic Designer</summary>
      <div>
        <div>
          <h4>APC - Associação Portuguesa da Cor</h4>
          <h5>February 2023 - July 2023</h5>
          <p>While interning for APCor I got to work alongside a marketing graduate where we were able to
            plan social media and website contents, develop merch, newsletters and other visual pieces. I also
            helped made the ICD (International Color Day) 15th Anniversary Special Issue Report and
            partnered with Fabrica Features to create the visual identity for some of their exhibitions.</p>
        </div>
      </div>
  </details>

  <details>
    <summary>Customer Service</summary>
      <div>
        <div>
          <h4>Alle Tiders! - Oslo, Norway</h4>
          <h5>August 2022 - December 2022</h5>
          <p>I learned how to communicate and befriend costumers, how to do storage and item
            replacement, and work as a cashier.</p>
        </div>
      </div>
  </details>

  <h3>Academic Background</h3>  
  
  <details>
    <summary>Postgraduate Degree in Digital Experience Design</summary>
      <div>
        <div>
          <h4>Faculty of Fine Arts in Lisbon</h4>
          <h5>September 2023 - June 2024</h5>
          <p>I've developed various projects such as
            redesigning the faculty website, adding a new feature to an app, and creating a job-finding
            website. I learned how to prototype, do thorough desk research, create personas based on user
            needs, develop various interviews and questionnaires, user flows and site maps.</p>
        </div>
      </div>
  </details>

  <details>
    <summary>Degree in Design</summary>
      <div>
        <div>
          <h4>IADE - Creative University</h4>
          <h5>October 2020 - June 2023</h5>
          <p>I've explored various design fields including Industrial Design, Graphic Design, Typography,
            UX Design, Product Design, Programming, Video Editing, and more.</p>
        </div>
      </div>
  </details>
</BaseLayout>