---
import BaseLayout from '../layouts/BaseLayout.astro'
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Work";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Work</h1>

  <h2>Featured Projects</h2>

  <p>Feel free to take a look at my work and read through my case studies, 
    see my final designs and test out the protoypes I’ve built.
  </p>
  
  <ul>
    {allPosts.map((post) => 
      <div class="card">
        <li><a href={post.url}>
            <h1>{post.frontmatter.title}</h1>
            <img src={post.frontmatter.image.src} width="100%" style="border-radius: 25px;">
        </a></li>
      </div>)}
  </ul>

</BaseLayout>