---
import BaseLayout from '../layouts/BaseLayout.astro'
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Work";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Work</h1>

  <h2>Featured Projects</h2>

  <p>Feel free to take a look at my work and read through my case studies, 
    see my final designs and test out the protoypes I’ve built.
  </p>
  
  <ul>
    {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
  </ul>

  <img src="/img/core-cover.png" alt="Core Cover">
  <img src="/img/smartstickers-cover.png" alt="Smart Stickers Cover">
  <img src="/img/magique-cover.png" alt="Magique Cover">

</BaseLayout>