---
//const platform = "github";
//const username = "withastro";
---

<script src="https://kit.fontawesome.com/767a85f1ee.js" crossorigin="anonymous"></script>

<footer>
  <h1 class="firsttitle">Get in Touch</h1>

  <div class="wrap">
    <a href="https://www.linkedin.com/in/ritacosta28/" class="btn" title="Rita Costa's Linkedin" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://www.behance.net/ritacosta28" class="btn" title="Rita Costa's Behance" target="_blank">
      <i class="fab fa-behance"></i>
    </a>
    <a href="https://github.com/61rita" class="btn" title="Rita Costa's Github" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </div>

  <h2 class="secondtitle">© 2024 Rita Costa</h2>

</footer>