---
//const platform = "github";
//const username = "withastro";

import Social from './Social.astro';
---

<footer>
  <h1 class="firsttitle">Get in Touch</h1>
  <Social platform="email" username="ritasalvadocosta@gmail.com" />
  <Social platform="linkedin" username="ritacosta28" />
  <Social platform="behance" username="ritacosta28" />
  <Social platform="github" username="61rita" />
  <h2 class="secondtitle">© 2024 Rita Costa</h2>

</footer>