---
---

<div class="nav-links">
    <a href="/" title="Home">Home</a>
    <a href="/work/" title="Work">Work</a>
    <a href="/about/" title="About">About</a>
    <a href="/contact/" title="Contact">Contact</a>
</div>
